fastapi
uvicorn
mysql-connector-python
duckdb
clickhouse-driver
requests
python-dotenv
pydantic
psycopg2-binary
duckdb-engine
sqlalchemy
pymysql
cryptography
clickhouse-connect
cloudflare
pyodbc
openai
asyncpg